  <h2 mat-dialog-title>Iniciar Viagem</h2>
  <mat-dialog-content>
    <p>Por favor, informe a quilometragem atual do veículo para iniciar a viagem.</p>
    <form [formGroup]="form" class="dialog-form">
      <mat-form-field appearance="fill">
        <mat-label>Quilometragem de Saída</mat-label>
        <input matInput type="number" formControlName="startMileage" required>
        <mat-error *ngIf="form.get('quilometragemSaida')?.hasError('required')">Campo obrigatório.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Observações (opcional)</mat-label>
        <textarea matInput formControlName="startObservations" rows="3"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">Confirmar Início</button>
  </mat-dialog-actions>