.history-container {
  padding: 24px;
}

.filter-field {
  width: 100%;
  max-width: 400px; /* Impede que o campo fique muito largo em telas grandes */
  margin-bottom: 16px;
}

.table-loading-container {
  position: relative;
  min-height: 300px; /* Garante que o spinner tenha espaço para aparecer */
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.table-container {
  overflow: auto; 
}


.mat-table { 
  width: 100%;
}

.mat-column-startMileage,
.mat-column-endMileage,
.mat-column-totalMileage {
  
  .mat-header-cell {
    justify-content: flex-end;
    padding-right: 16px;
  }

  .mat-cell {
    text-align: right;
    justify-content: flex-end;
    padding-right: 16px;
  }
}