<div class="header">
  <h2>Gerenciamento de Veículos</h2>
  <button mat-raised-button color="primary" (click)="abrirDialog()">
    <mat-icon>add</mat-icon>
    Novo Veículo
  </button>
</div>

<mat-table [dataSource]="veiculos">
  <ng-container matColumnDef="placa">
    <mat-header-cell *matHeaderCellDef>Placa</mat-header-cell>
    <mat-cell *matCellDef="let veiculo">{{ veiculo.licence }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="modelo">
    <mat-header-cell *matHeaderCellDef>Modelo</mat-header-cell>
    <mat-cell *matCellDef="let veiculo">{{ veiculo.model }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
    <mat-cell *matCellDef="let veiculo">
      <button mat-icon-button color="primary" (click)="abrirDialog(veiculo)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="excluirVeiculo(veiculo.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['placa', 'modelo', 'acoes']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['placa', 'modelo', 'acoes'];"></mat-row>
</mat-table>