
.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 15px; // Espaçamento entre os campos
}

.dialog-form mat-form-field {
  width: 100%;
}

:host ::ng-deep .dialog-form .mat-form-field {
  .mat-mdc-form-field-flex {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 4px 4px 0 0;
  }
}

.dialog-actions-center {
  display: flex;
  justify-content: center;
  gap: 10px;
}