<h2 mat-dialog-title>{{ isEditMode ? 'Editar Veículo' : 'Novo Veículo' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">
    <mat-form-field>
      <mat-label>Placa</mat-label>
      <input matInput formControlName="licence">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="model">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let tipoVeiculo of typoVeihcle" [value]="tipoVeiculo.value">
          {{ tipoVeiculo.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>    
    <mat-form-field>
      <mat-label>Ano</mat-label>
      <input matInput type="number" formControlName="year">
    </mat-form-field>   
    <mat-form-field>
      <mat-label>Quilometragem</mat-label>
      <input matInput type="number" formControlName="mileage">
    </mat-form-field>   
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of status" [value]="status.value">
          {{ status.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>     
    </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions-center">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">Salvar</button>
</mat-dialog-actions>