
<div class="page-header" [formGroup]="filterForm">

  <!-- Botão Novo Agendamento -->
  <button mat-raised-button class="button-agendamento" color="primary" (click)="dialogoAgendamento()" >
    <mat-icon>add</mat-icon>
    Novo Agendamento
  </button>

  <div class = "filtros">
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Data Inicial</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <!-- Data Final -->
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Data Final</mat-label>
      <input matInput [matDatepicker]="endPicker" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <!-- Motorista -->
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Motorista</mat-label>
      <mat-select formControlName="driverId">
        <mat-option *ngFor="let motorista of motoristas" [value]="motorista.driverId">
          {{ motorista.nameDriver }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Status -->
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statusOpcoes" [value]="status.value">
          {{ status.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- Botões de Ação -->
  <button mat-flat-button color="primary" (click)="aplicarFiltros()">
    <mat-icon>search</mat-icon>
    Filtrar
  </button>
  <button mat-button (click)="limparFiltros()">
    <mat-icon>clear</mat-icon>
    Limpar
  </button>

</div>
<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="data">
    <mat-header-cell *matHeaderCellDef>Data Transporte</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">{{ agendamento.date | date: 'dd/MM/yyyy HH:mm' : 'America/Sao_Paulo' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="motorista">
    <mat-header-cell *matHeaderCellDef>Motorista</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">{{ agendamento.nameDriver }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="tipo_veiculo">
    <mat-header-cell *matHeaderCellDef>Tipo de Veiculo</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">{{ agendamento.typeVehicle }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="modelo_veiculo">
    <mat-header-cell *matHeaderCellDef>Modelo Veiculo</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">{{ agendamento.modelVehicle }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="justificativa">
    <mat-header-cell *matHeaderCellDef>Justificativa</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">{{ agendamento.justify }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">{{ agendamento.statusTrip }}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">
      <button mat-icon-button color="primary" (click)="dialogoAgendamento(agendamento)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="excluirAgendamento(agendamento.tripId)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['data','motorista', 'tipo_veiculo','modelo_veiculo', 'justificativa', 'status', 'acoes']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['data','motorista', 'tipo_veiculo','modelo_veiculo', 'justificativa', 'status', 'acoes'];"></mat-row>
</mat-table>