/* Estilo para o cabeçalho principal da página */
.page-header {
  display: flex;
  gap: 16px;           /* Espaço entre o botão "Novo" e a barra de filtros */
}

/* Estilo para a barra que contém os campos e botões de filtro */
.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;           /* Espaço entre cada campo de filtro */
  align-items: center;
  flex-grow: 1;        /* Faz a barra de filtros ocupar o espaço restante */
}

.filter-bar .filter-field {
  --mdc-outlined-text-field-container-height: 44px;

}

/* 2. Garante que os botões tenham a mesma altura dos campos compactados */
.page-header .main-actions button,
.filter-bar .filter-actions button {
  height: 44px;
}

.button-agendamento{
  height: 54px;
}
