
<div class="header">
  <h2>Gerenciamento de Agendamentos</h2>
  <button mat-raised-button color="primary" class="dialogTrip" (click)="dialogoAgendamento()">
    <mat-icon>add</mat-icon>
    Cadastrar Agendamento
  </button>
</div>

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="data">
    <mat-header-cell *matHeaderCellDef>Data Transporte</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">{{ agendamento.date | date: 'dd/MM/yyyy HH:mm' : 'America/Sao_Paulo' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="motorista">
    <mat-header-cell *matHeaderCellDef>Motorista</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">{{ agendamento.nameDriver }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="tipo_veiculo">
    <mat-header-cell *matHeaderCellDef>Tipo de Veiculo</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">{{ agendamento.typeVehicle }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="modelo_veiculo">
    <mat-header-cell *matHeaderCellDef>Modelo Veiculo</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">{{ agendamento.modelVehicle }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="justificativa">
    <mat-header-cell *matHeaderCellDef>Justificativa</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">{{ agendamento.justify }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">{{ agendamento.statusTrip }}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
    <mat-cell *matCellDef="let agendamento">
      <button mat-icon-button color="primary" (click)="dialogoAgendamento(agendamento)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="excluirAgendamento(agendamento.tripId)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['data','motorista', 'tipo_veiculo','modelo_veiculo', 'justificativa', 'status', 'acoes']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['data','motorista', 'tipo_veiculo','modelo_veiculo', 'justificativa', 'status', 'acoes'];"></mat-row>
</mat-table>