
.page-header {
  display: flex;
  gap: 16px;         
}


.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;           
  align-items: center;
  flex-grow: 1;        
}

.filter-bar .filter-field {
  --mdc-outlined-text-field-container-height: 44px;

}


.page-header .main-actions button,
.filter-bar .filter-actions button {
  height: 44px;
}

.button-agendamento{
  height: 54px;
}
