<h2 mat-dialog-title>{{ isEditMode ? 'Editar Agendamento' : 'Novo Agendamento' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">

    <mat-form-field>
      <mat-label>NOME</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
   
    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input matInput type="number" formControlName="cpf" maxlength="11">
    </mat-form-field>  

    <mat-form-field>
      <mat-label>SENHA</mat-label>
      <input matInput type="password" formControlName="password" maxlength="11">
    </mat-form-field>  

    <mat-form-field>
      <mat-label>ATIVO</mat-label>
      <input matInput formControlName="isAtive" [disabled]="true">
    </mat-form-field>      

    <mat-form-field>
      <mat-label>EMAIL</mat-label>
      <input matInput type="email" formControlName="email" >
    </mat-form-field>  

    <div class="form-row">
      <mat-form-field class="cnh-field">
        <mat-label>DDD</mat-label>
        <input matInput formControlName="dddNumber" type = "number" maxlength="2">
      </mat-form-field>
      <mat-form-field class="date-field">
        <mat-label>TELEFONE</mat-label>
        <input matInput type = "number" formControlName="phoneNumber" maxlength="9">
      </mat-form-field>
    </div>


    <h2>Destino</h2>
    <mat-form-field>
      <mat-label>CEP</mat-label>
      <input matInput formControlName="zipCode" maxlength="8" (blur)="buscarCep()">
      <mat-hint>Digite os 8 dígitos, sem traço.</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Logradouro (Rua, Avenida...)</mat-label>
      <input matInput formControlName="street">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Número</mat-label>
      <input matInput formControlName="numberAddress">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bairro</mat-label>
      <input matInput formControlName="neighborhood">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cidade</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado (UF)</mat-label>
      <input matInput formControlName="state">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Complemento (Opcional)</mat-label>
      <input matInput formControlName="complement">
    </mat-form-field>                   
  </form>
</mat-dialog-content>


<mat-dialog-actions class="dialog-actions-center">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()" >Salvar</button>
</mat-dialog-actions>