
<div class="header">
  <h2>Gerenciamento de Administradores</h2>
  <button mat-raised-button color="primary" class="dialogTrip" (click)="dialogoAgendamento()">
    <mat-icon>add</mat-icon>
    Cadastrar Motorista
  </button>
</div>

<mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="administrador">
    <mat-header-cell *matHeaderCellDef>Motorista</mat-header-cell>
    <mat-cell *matCellDef="let administrador">{{ administrador.nameAdministrador }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ativo">
    <mat-header-cell *matHeaderCellDef>ativo</mat-header-cell>
    <mat-cell *matCellDef="let driver">{{ driver.isAtive }}</mat-cell>
  </ng-container>  

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let administrador">{{ administrador.email }}</mat-cell>
  </ng-container>  
  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef>Telefone</mat-header-cell>
    <mat-cell *matCellDef="let administrador">{{administrador.phoneNumber}}</mat-cell>
  </ng-container>     
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef>Endereço</mat-header-cell>
    <mat-cell *matCellDef="let administrador">       
        RUA: {{ administrador.address.street }} <br>
        NUMERO: {{ administrador.address.numberAddress}} <br>
        CIDADE: {{ administrador.address.city }} <br>
        ESTADO: {{ administrador.address.state }}</mat-cell>
  </ng-container> 

  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
    <mat-cell *matCellDef="let administrador">
      <button mat-icon-button color="primary" (click)="dialogoAgendamento(administrador)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="excluirAgendamento(administrador.administradorId)">
        <mat-icon>delete</mat-icon>
      </button>   
    </mat-cell>
  </ng-container>  

  <mat-header-row *matHeaderRowDef="['administrador','ativo','email','phoneNumber','address','acoes']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['administrador','ativo','email','phoneNumber','address','acoes'];"></mat-row>
</mat-table>