
<div class="header">
  <h2>Gerenciamento de Motoristas</h2>
  <button mat-raised-button color="primary" class="dialogTrip" (click)="dialogDriver()">
    <mat-icon>add</mat-icon>
    Cadastrar Motoristas
  </button>
</div>

<mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="driver">
    <mat-header-cell *matHeaderCellDef>Motorista</mat-header-cell>
    <mat-cell *matCellDef="let driver">{{ driver.nameDriver }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ativo">
    <mat-header-cell *matHeaderCellDef>ativo</mat-header-cell>
    <mat-cell *matCellDef="let driver">{{ driver.isAtive }}</mat-cell>
  </ng-container>  

  <ng-container matColumnDef="cnh">
    <mat-header-cell *matHeaderCellDef>Cnh</mat-header-cell>
    <mat-cell *matCellDef="let driver">
        <div>
        CNH: {{ driver.cnh }} <br>
        EXPIRA EM: {{ driver.cnhExpiration | date: 'dd/MM/yyyy' }} <br>
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let driver">{{ driver.email }}</mat-cell>
  </ng-container>  
  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef>Telefone</mat-header-cell>
    <mat-cell *matCellDef="let driver">{{driver.phoneNumber}}</mat-cell>
  </ng-container>     
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef>Endereço</mat-header-cell>
    <mat-cell *matCellDef="let driver">       
        RUA: {{ driver.address.street }} <br>
        NUMERO: {{ driver.address.numberAddress}} <br>
        CIDADE: {{ driver.address.city }} <br>
        ESTADO: {{ driver.address.state }}</mat-cell>
  </ng-container> 

  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
    <mat-cell *matCellDef="let driver">
      <button mat-icon-button color="primary" (click)="dialogDriver(driver)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="excluirDriver(driver.driverId)">
        <mat-icon>delete</mat-icon>
      </button> 
    </mat-cell>
  </ng-container>  

  <mat-header-row *matHeaderRowDef="['driver','ativo','cnh','email','phoneNumber','address','acoes']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['driver','ativo','cnh','email','phoneNumber','address','acoes'];"></mat-row>
</mat-table>